.black__main {
   display: flex;
   justify-content: center;
   align-items: center;
}

.back-gamestate {
   text-align: center;
}

.black__table {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   flex-direction: column;
}

.black__table-main {
   margin-bottom: 15px;
}
.table__card {
   width: max(8vw, 130px);
}
.table__card img {
   width: 100%;
}

.black__playerslist {
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   margin-top: -1vw;
}

.black__gamer {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.black__info {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   width: 100%;
   margin-bottom: 5px;
   font-size: 20px;
}

.black__wrapper {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   margin-bottom: 5px;
   /* gap: 5px; */
}

.black__wrapper p {
   width: 100%;
   text-align: center;
   margin-bottom: -5px;
}

.black__table-wrapper {
   display: flex;
   gap: 10px;
   justify-content: center;
   align-items: center;
}

.black__table-info {
   width: 100%;
   text-align: center;
   padding-top: 10px;
}

.back-links {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 2vw;
}

.black__player-funclist {
   margin-top: 30px;
}

.black__player-funcitem {
   margin-bottom: 20px;
}

.black__wrapper-cards {
   display: flex;
}

.black__player .black__gamer-wrapper {
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.black__wrapper:nth-child(2) {
   position: absolute;
   transform: translateX(100%);
}

.black__player-switch {
   z-index: 999;
   position: absolute;
   top: 9em;
   width: 10vw;
   left: 0;
   height: 181px;
   background: none;
   border: none;
   outline: none;
   cursor: pointer;
}

.black__player-switch:disabled {
   cursor: auto;
   z-index: -1;
}

.black__player-switch:nth-child(2) {
   left: auto;
   right: 0;
}
